<%- include('../partials/header') %>



<header></header>

<nav>
<a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
  <a href="/farms" <%- title === 'All Farms' ? 'class="active"' : '' %>>ALL FARMS</a>
  <% if (user) { %>
    <a href="/farms/new" <%- title === 'Add Farm' ? 'class="active"' : '' %>>ADD FARM</a>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
</nav>
<main>


<div class="container" >

  

<h1 class="Index-heading">U Pick Berries </h1>
<div class="grid-container">
    <% farms.forEach(function(f) { %>
    
    <div class="grid-item">
        <div class="farm-name"><%= f.name %></div>
        <div><%= f.address.street %></div>
        <div><%= f.address.town  + ', ' %>  <%= f.address.state %>  <%= f.address.postcode %></div>
        <a class="icon-link" class="details-link" href="/farms/<%= f._id %>">
          Farm Details
          <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
    </div>
    <% }); %>
</div>

<%- include('../partials/footer') %>







       
