<%- include('../partials/header') %>




<header></header>

<nav>

  <a href="/farms" <%- title === 'All Farms' ? 'class="active"' : '' %>>ALL FARMS</a>
  <% if (user) { %>
    <a href="/farms/new" <%- title === 'Add Farm' ? 'class="active"' : '' %>>ADD FARM</a>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
</nav>
<main>


<div class="container" >


<h1 class="display-4" class="farm-name">
   <%= farm.name %>
</h1>

<div class="container text-center">
  <div class="row">
    <div class="col-4">

      <div class="farm-name">We are located:</div>
      <div><%= farm.address.street %></div>
      <div><%= farm.address.town  + ', ' %>  <%= farm.address.state %>  <%= farm.address.postcode %></div>

      <div id="map" style="height: 400px;"></div>

    </div>
    <div class="col-4">
      <label class="openHours" for="openHours">Berry picking hours</label>
      <div class="a"><%= 'Monday ' + farm.openHours.monday %></div>
      <div><%= 'Tuesday ' + farm.openHours.tuesday %></div>
      <div><%= 'Wednesday ' + farm.openHours.wednesday %></div>
      <div><%= 'Thursday ' + farm.openHours.thursday %></div>
      <div><%= 'Friday ' + farm.openHours.friday %></div>
      <div><%= 'Saturday ' + farm.openHours.saturday %></div>
      <div><%= 'Sunday ' + farm.openHours.sunday %></div>

    </div>
    <div class="col-4">
      
      <section id="show-page-sec-column">
        <label class="produce" for="Produce">Fruits to pick</label>
        <% farm.produce.forEach(function(f) { %>
            <div class="a"><%= f.name %></div>
            <div><%= f.season %></div>
            <div><%= f.availability %></div>
        <% }); %>



      </section>

    </div>


  </div>
</div>



  <% if (user) { %>
<div class="container text-center">
  <div class="row" id="produce-form-container">
    <div class="col-8">
    </div>
        <div class="col-4">
    <form id="add-fruit-to-produce" action="/farms/<%= farm._id %>/fruits" 
        method="POST">
        <label>Produce:</label>
        <input type="text" name="name" placeholder="Type">
        <input type="text" name="season" placeholder="Season">
        <label>Available now?</label>
        <input type="checkbox" name="availability" checked>
        <input type="submit" value="Add Produce">
    </form>
  <% } %>


    </div>
  </div>
</div>



<div class="container text-center">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">

      <div class="wrapper">
        <h2>Reviews</h2>
        <% if (farm.reviews.length) { %>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Date</th>
              <th scope="col">Review</th>
              <th scope="col">Rating</th>
            </tr>
          </thead>
          <tbody>
          <% farm.reviews.forEach(function(f) { %>
            <tr>
              <% if (f.userName === 'Anonymous') { %>
              <td class="review-user"><%= f.userName %></td>
              <% } else { %>  
              <td class="review-user"><img alt="avatar" src="<%= f.userAvatar %>" referrerpolicy="no-referrer"><%= f.userName %></td>
              <% } %>
              <td><%= f.createdAt.toLocaleDateString() %></td>
              <td><%= f.content %></td>
              <td><%= f.rating %></td>
            </tr>
          <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <h5>No Reviews Yet</h5>
        <% } %>

        <div class="container text-center">
        <div class="row">
       
        <div class="col-10">

        <form id="add-review-form" method="POST" action="/farms/<%= farm._id %>/reviews">

        <div class="mb-3">
        <label name="content" for="exampleFormControlTextarea1" class="form-label">Leave a review</label>
        <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
    <div class="col-2">
      <select name="rating" class="form-select" size="3" aria-label="Size 3 select example">
        <option selected>Rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <input type="submit" value="Add Review">
  </form>
</div>
  
</div>
<div class="col-1">
</div>
</div>
</div>
     

</div>



<%- include('../partials/footer') %>