<%- include('../partials/header') %>


<div class="wrapper">
    <div class="one">
  <section id="show-page">

      <div class="a"><%= farm.name %></div>
      <div><%= farm.address.street %></div>
      <div><%= farm.address.town %></div>
      <div><%= farm.address.postcode %></div>
      <div><%= farm.address.state %></div>
      <br><br>

      <label for="openHours">Berry picking hours</label>
      <div class="a"><%= 'Monday ' + farm.openHours.monday %></div>
      <div><%= 'Tuesday ' + farm.openHours.tuesday %></div>
      <div><%= 'Wednesday ' + farm.openHours.wednesday %></div>
      <div><%= 'Thursday ' + farm.openHours.thursday %></div>
      <div><%= 'Friday ' + farm.openHours.friday %></div>
      <div><%= 'Saturday ' + farm.openHours.saturday %></div>
      <div><%= 'Sunday ' + farm.openHours.sunday %></div>

  </section>
    </div>

    <section id="show-page-sec-column">
        <label for="Produce">Fruits to pick</label>

        <% farm.produce.forEach(function(f) { %>
            <div class="a"><%= f.name %></div>
            <div><%= f.season %></div>
            <div><%= f.availability %></div>
        <% }); %>
    </section>


    <form id="add-fruit-to-produce" action="/farms/<%= farm._id %>/fruits" 
        method="POST">
        <label>Produce:</label>
        <input type="text" name="name" placeholder="Type">
        <input type="text" name="season" placeholder="Season">
        <label>Available now?</label>
        <input type="checkbox" name="availability" checked>
        <input type="submit" value="Add Produce">
    </form>


    <br><br><h2>Reviews</h2>
<% if (user) { %>
<form id="add-review-form" method="POST"
  action="/farms/<%= farm._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <input type="submit" value="Add Review">
</form>
<% } %>

<% if (farm.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
   
      <% let total = 0 %>
      <% farm.reviews.forEach(function(f) { %>
        
        <% total += f.rating %>
        <tr>
          <td class="review-user"><img alt="avatar" src="<%= f.userAvatar %>" referrerpolicy="no-referrer"><%= f.userName %></td>
       
          <td><%= f.createdAt.toLocaleDateString() %></td>
          <td><%= f.content %></td>
          <td><%= f.rating %></td>
        </tr>
      <% }); %>
     
      <tr>
        <td colspan="2"></td>
        <td><strong><%= (total / farm.reviews.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
  


<%- include('../partials/footer') %>